# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/features/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# Environment variables
.env

# Models
models/
*.pkl
*.joblib

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/